:root{
    /* Colores */
    --azulCielo:#7cf6fd;
    --azulMarino:#317ac7;
    --amarillo:#fcf9bf;
    --gris:#707d9d;
    --blanco:#fff;
    --negro:#000;

    /* Fuente Principal */
    --fuentePrincipal:'Gothic A1', sans-serif;
}

html{
    font-family: var(--fuentePrincipal);
}


.titulo{
    text-align: center;
}
